h1 {
  text-shadow: -5px -5px 5px green,-5px 5px 5px #49fb35,
               5px -5px 5px green,5px 5px 5px #49fb35;
  font-size: 50px;
}
h2 {
    text-shadow: -5px -5px 5px green,-5px 5px 5px #49fb35,
                  5px -5px 5px green,5px 5px 5px #49fb35;
    font-size: 50px;
}
